@media screen and (min-width: 768px){

    form button
    {
        display: none;
    }

}
@media screen and (max-width: 767px)

{
    body
    {
        padding: 0;
        padding-top:21px ; 
    }

/* header li a*/


    #header
    {
        display: flex;
        flex-direction: column;
        align-items: center;  
    }

    
    #header img
    
    {
        width: 61.09px;
        height: 19px;
        margin-top: 0;        
        margin-bottom: 25px;
    }
    
    #header  nav
    {
        justify-content: space-around;
        width: 100%;
    }
    

    #header li
    {
        text-align: center;
        padding: 23px 0;
        width: 100%;

        margin-bottom: 34px;
    }
    
    #header a
    {
        text-align: center;
        font-weight: 400;
    }

    #header a:hover
    {
        border: none;
    }

    #header li:hover
    { 
        margin-bottom: 31px;
        border-bottom: 3px solid #0065FC;
    }

/*section a*/

    h1
    {
        padding-left: 20px;
        margin-bottom: 13px;
        margin-right: 57px;
    }
    
    h2
    {
        padding-left: 20px;
        margin-bottom: 36px;
    }
    
/* barre de recherche*/

    form
    {
        
        padding: 0 21.5px;
        margin-bottom: 34px;
    } 

    form input[type="submit"]
    {
        display: none;
    }


    form button
    {

        padding: 16px;
        border: none;

        background-color: #0065FC;
        border-top-right-radius: 15px;
        border-bottom-right-radius:15px ;
        cursor: pointer;
    }

    form button i
    {
        color: rgb(255, 255, 255);
        font-size: 17px;     
    }


    form input[type="search"]

    {
        margin-right: 61px;
    }

    form div
    {
        width: 100%;
    }


/*filtres */


#filtres
{
    display: flex;
    flex-wrap: wrap;

    padding: 0 20px;
    margin-bottom: 40px;

    font-size: 18px;
    font-weight: 700;
}

#filtres span
{

    margin-right: 0;
    margin-bottom: 15px;
}


#filtres .btn
{
    display: flex;

    width: 100%;
    gap: 17px 0px;
}

#filtres button
{
    text-align:left ;

    padding-left: 13px;
    width: 48%;
    height: 50px;
    
    font-size: 0.6875rem;
}

#filtres  i
{
    margin-right: 5px;
    font-size: 1.125rem;    
}


/*info*/


.info
{
    padding: 0 20px;
    margin-bottom: 40px;
}


.info i 

{
    padding: 5px 9px;
    height: 24px;
    font-size: 12px;
}

/*section b*/

#center
{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 0;   
}

/*right*/

.right
{
    padding:28px  5.557% 47px 5.557%;
 
    
    height: 580px;

    border-radius: 0;
}

.right .cards
{
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.right .card
{
    display: flex;
    overflow: hidden;

    width:100% ;
    max-width:100%;
}

/*left*/


.left
{
    padding:26px  5.557% 105px 5.557% ;
    
    max-width:none;
    width: 100%;
    
    margin-bottom: 0;
    border-radius: 0;
    background-color: white;
}

h3
{
    margin-bottom: 19px;
}

.left .cards
{
    gap: 12px 0 ;
}

.left .card
{
    width: 100%;
    max-width: none;
}


.left a>span
{
display: none;
}


/*section c*/

#bottom
{
    padding: 0 5.557%;
    max-height: none;
    margin-bottom: 80px;
}

h5
{
    width: 40%;
    margin-bottom: 10px;
}

#bottom .cards
{
    flex-direction: column;
    gap: 24px ;
}

#bottom .card
{
    width: 100%;
    max-width: none;
    height: 190px;

}

#bottom img
{

    height: 134px;
    max-height: none;
    
}

#bottom p
{
    display: block;
    padding: 20px 0px 0 4%;
}

#bottom .card:last-child p
{
    width: 100%;
}

/*footer*/

footer nav
{  
    flex-direction: column;
    gap: 40px;

    width: 100%;
    height: 501px;

    padding-left: 8.5%;
    padding-top: 45px;
}

}