@media screen and (max-width: 991px)

{

#filtres .btn
{
    width: 780px;
}

#filtres button
{
    padding: 10px 1.5%;
}




#center
{
    display: flex;
    flex-direction: column;
}

.left
{
    width: 100%;
    
    padding-left: 5%;
    padding-right: 5%;
    
    margin-bottom: 52px;
}


.right
{
    max-width: none;
    width: 100%;
    height: 278px;

    padding-left: 5%;
    padding-right: 5%;
}

.right .cards
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
}
.right .card
{
    overflow: hidden;
    width: 31%;
    max-width: 252px;
}





#bottom .cards
{
    gap: 50px;
}

#bottom .card
{
    width: 50%;
    max-width: 200px;
    max-height: 267px;
}

#bottom img
{
    width: 100%;
    height: 389px;
    max-height: 211px;
}

#bottom p
{
    display: flex;
    align-items: center;

    padding: 0 1px 0 19px ;
}

#bottom .card:last-child p
{
    width: 127px;
}


footer nav
{
    gap: 12%;
}

}